<!DOCTYPE html>
<html>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Hours Registry</span>
                <ul class="nav">
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link" href="/tasks">Tasks</a></li>
                    <li><a class="nav-link" href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>